DATABASE_URL=postgresql+psycopg://neondb_owner:npg_n7zZqcuQU5Ym@ep-still-salad-acblcvw3-pooler.sa-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
SECRET_KEY=change-this-secret-key
ACCESS_TOKEN_EXPIRE_MINUTES=720
